[Unit]
Description=System-wide instance of the MISP Modules
After=network.target

[Service]
User=azureuser
Group=azureuser
WorkingDirectory=/home/azureuser/misp-playbooks/playbooks/bin
Environment="PATH=/home/azureuser/misp-playbooks/playbooks/bin"
ExecStart=/home/azureuser/misp-playbooks/playbooks/bin/misp-modules -l 127.0.0.1

[Install]
WantedBy=multi-user.target