[Unit]
Description=MISP Playbooks - Jupyter

[Service]
Type=simple
User=azureuser
Group=azureuser
PIDFile=/run/misp-playbook-jupyter.pid
ExecStart=/home/azureuser/misp-playbooks/playbooks/bin/jupyter-lab --config=/home/azureuser/misp-playbooks/playbooks/config/misp-playbook-jupyter.py
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
